@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-neutral-100 min-h-screen font-['Heebo',sans-serif];
    background-color: #090a0f;
    direction: rtl;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #090a0f;
}

::-webkit-scrollbar-thumb {
  background: #1e202e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e3247;
}
